@media screen and (min-width: 760px) {
  main {
    display: flex;
    width: fit-content;
    margin: clamp(1rem, 8.8rem, 10vh) 1rem 1rem;
  }

  h1 {
    padding: 3.6rem 0 2.6rem;
    font-size: 3.9rem;
  }

  p {
    margin-right: 0;
  }

  .card {
    width: clamp(21rem, 30.7rem, 32vw);
    height: 50rem;
    padding-left: clamp(2rem, 4.8rem, 3.5vw);
    padding-right: clamp(2rem, 4.8rem, 3.5vw);
  }

  .card1 {
    border-radius: 1rem 0 0 1rem;
  }

  .card3 {
    border-radius: 0 1rem 1rem 0;
  }
}
